<ion-menu [content]="content">
  <ion-content class="menu-left">
    <!-- User profile -->
    <div text-center padding-top padding-bottom class="primary-bg menu-left">
      <a menuClose>
        <img *ngIf="user" class="profile-picture" [src]="user.imagem">
        <h4 light (click)="goToSorteios()" >{{user? user.nome: 'Faça o login para participar das promoções!'}}</h4>
        <hr>
        <ion-list class="list-full-border" *ngIf="user">
          <button class="item-menu" ion-item menuClose clear (click)="goToSorteios()" >
            <ion-icon item-left name="cash"></ion-icon>Sorteios
          </button>
          <button class="item-menu" ion-item menuClose clear (click)="logout()" >
            <ion-icon item-left name="log-out"></ion-icon>Sair
          </button>
        </ion-list>
        <ion-grid *ngIf="!user">
          <ion-row>
            <ion-col width-100 ><button style="background-color: #3b5997" ion-button full (click)="loginWithFacebook()" ><ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;Login com Facebook</button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-100 ><button style="background-color: #df4a32" ion-button full (click)="loginWithGoogle()">  <ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp;Login com Google</button></ion-col>
          </ion-row>
        </ion-grid>
      </a>
    </div>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
